* {
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  height:100%;
  width:100%;
  margin: 0;
  background-color: #ffffff;
}
header {
  text-align: center;
  overflow: auto;
  max-height: 600px;
  height: 600px;
  margin: 0;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("Images/flor-lavanda.jpg");
}
.header_logo {
  text-align: center;
  margin-top: 100px;
  box-shadow: 2px 2px 2px white;
}
 h1 {
  margin: 0;
  color: white;
  text-shadow: 2px 2px black;
  font-size: 64px;
  font-family: 'Tangerine', cursive;
  padding: 100px 0 0 0;
  text-align: center;
}
.navbar {
  overflow: hidden;
  z-index: 1;
  top: 0;
  position: fixed;
  width: 100%;
  margin: 0;
  text-align: center;
  background: #333;
}
.navbar a {
  font-size: 17px;
  float: left;
  display: block;
  text-align: center;
  padding: 10px 20px;
  font-family: 'Times New Roman';
  text-decoration: none;
  color: white;
 }
 .navbar a.right {
   float: right;
 }
 .navbar a:hover {
   text-decoration: none;
   background-color: #ddd;
   color: darkred;
 }
 .navbar .icon {
   display: none;
 }
 .line1 {
   border: 1px solid darkred;
 }
 footer {
   background: #820000;
   padding: 20px;
  text-align: center;
  color: white;
 }
.column {
  position: relative;
  float: left;
  width: 33.33%;
  padding: 5px;
}
.column a {
  text-decoration: none;
  color: white;
}
.image_content {
  position: relative;
  margin-top: -65px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: flex;
}
.rrangel {
  margin: 20px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.head {
  overflow: auto;
  padding: 0 20px;
  text-align: center;
}
.portrait {
  margin-left: -30px;
  margin-right: 30px;
  border-radius: 50%;
}
.logo {
  top: 50%;
  transform: translate(0, -50%);
  z-index: -1;
}
.head::after {
  content: "";
  clear: both;
  display: flex;
}
.text1 {
  font-family: 'Open Sans', sans-serif ;
  padding: 20px 40px;
  font-size: 20px;
  color: #324157;
  text-align: center;
}
button {
  border-radius: 15px;
}
.more_info_button  {
  align-items: center;
  text-align: center;
}
.more_info_button a  {
  text-decoration: none;
  color: black;
  padding: 0 15px;
  font-size: 15px;
}
.more_info_button:hover {
  text-decoration: none;
  color: darkred;
}
.rrangel::after {
  content: "";
  clear: both;
  display: flex;
}
.contact {
  height: auto;
  margin: 0;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("Images/ocean.jpg");
  overflow: auto;
}
.contact_title {
  text-align: left;
  margin: 20px auto;
  margin-left: 5%;
  font-size: 50px;
  text-shadow: 3px 3px 3px #31a5a4;
  color: white;
}
.chatbot {
  margin-bottom: 30px;
  width: 30%;
  margin-left: 65%;
  margin-right: 5%;
}
.fb-page {
  margin: auto;
}
@media screen and (max-width: 1000px) {
  .column {
    width: 50%;
  }
  .chatbot {
    width: 45%;
    margin-left: 50%;
  }
}
@media screen and (max-width: 621px) {
  .logo {
    top: 0%;
    transform: translate(0, 0);
  }
  .portrait {
    margin: 0;
  }
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .chatbot {
    width: 70%;
    margin-left: 25%;
  }
}
@media screen and (max-width: 795px) {
  header {
    background-attachment: scroll;
  }
  .contact {
    background-attachment: scroll;
  }
  .navbar a:not(:first-child) {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
  .navbar.responsive .icon {
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
  .navbar a:last-child {
    display: none;
  }
  .navbar.responsive  #facebookButton{
    display: block;
  }
  .navbar.responsive  #instagramButton{
    display: block;
  }
  .navbar.responsive  #youtubeButton{
    display: block;
  }
}
#myScroll {
  overflow: hidden;
}
#facebookButton, #youtubeButton, #instagramButton {
  display: none;
  margin: 0;
}
.sesiones {
  margin: 20px auto;
}
