* {
  box-sizing: border-box;
}
body {
  height:100%;
  width:100%;
  margin: 0;
  background-color: #ffffff;
}
.navbar {
  z-index: 1;
  top: 0;
  position: fixed;
  width: 100%;
  margin: 0;
  text-align: center;
  background: #333;
}
.navbar a {
  font-size: 17px;
  float: left;
  display: block;
  text-align: center;
  padding: 10px 20px;
  font-family: 'Times New Roman';
  text-decoration: none;
  color: white;
 }
 .navbar a.right {
   float: right;
 }
 .navbar a:hover {
   text-decoration: none;
   background-color: #ddd;
   color: darkred;
 }
