* {
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  height:100%;
  width:100%;
  background-color: #ffffff;
}
.header {
  margin: 0 0 20px;
  position: relative;
  width: 100%;
  height: 60vh;
  display: flex;
  overflow: hidden;
  align-items: baseline;
  justify-content: center;
  background-image: url("../Images/blog-desk.jpg");
  background-position: left;
  background-repeat: no-repeat;
}
h1 {
  font-size: 200px;
  line-height: 60vh;
}
#blog-thumbnails {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-items: space-evenly;
  z-index: -10;
}
#blog-thumbnails a {
  width: 23.75%;
  text-decoration: none;
  color: #000000;
  background-color: #DFDFDF;
  border-radius: 5px;
  margin: 0 0 20px 1%;
}
.thumbnail {
  z-index: 1;
}
.thumbnail h2, h3 {
  font-family: Arial;
  width: 90%;
  margin: 0 5% 5%;
}
.thumbnail h3 {
  color: #333333;
  text-shadow: 1px 1px #FFFFFF;
}
.thumbnail img {
  min-height: 180px;
  width: 90%;
  margin: 5% 5%;
}
.modal-blog {
  position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: -1;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modal-blog:target, .selected {
  opacity: 1;
  pointer-events: auto;
  cursor: default;
  z-index: 99999;
}
.modal-blog > div {
  width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
.close {
  background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: 23.8%;
	text-align: center;
	top: 20px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover {
  background: #00d9ff;
}
.pdf {
  margin: 20px 25%;
}
