* {
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  height:100%;
  width:100%;
  background-color: #ffffff;
}
.header {
  margin: 0 0 20px;
  position: relative;
  width: 100%;
  height: 60vh;
  display: flex;
  overflow: hidden;
  align-items: baseline;
  justify-content: center;
  background-image: url("../Images/blog-desk.jpg");
  background-position: left;
  background-repeat: no-repeat;
}
h1 {
  font-size: 200px;
  line-height: 60vh;
}
#blog-thumbnails {
  margin: 0 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-items: space-around;
  z-index: -10;
}
.modal-blog {
  position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modal-blog:target {
  opacity: 1;
  pointer-events: auto;
  cursor: default;
}
.modal-blog > div {
  width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
.close {
  background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: 23.8%;
	text-align: center;
	top: 20px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover {
  background: #00d9ff;
}
.pdf {
  margin: 20px 25%;
}
