* {
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  height:100%;
  width:100%;
  margin: 0;
  background-color: #ffffff;
}
h2 {
  margin-top: 0;
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
  color: #07011c;
}
 .line1 {
   margin: 5px 0;
   border: 1px solid #07011c;
 }
 .addEvent {
   line-height: 50px;
   text-align: center;
   text-decoration: none;
   width: 50px;
   height: 50px;
   background-color: black;
   color: white;
   cursor: pointer;
   float: right;
   margin-top: -50px;
   margin-right: 5px;
   font-size: 20px;
   border-radius: 50%;
 }
 .eventInfo {
   margin: 0 10%;
   padding: 0 10%;
   height: 100%;
   background-color: rgba(204,54,121,0.8);
   color: #68182D;
 }
 .eventInfo h1 {
   text-align: center;
   padding-top: 50px;
 }
